\
# RenPyTerminal

- [Index](./index.md)
- [Required concepts](./required_concepts.md)

# Architecture
- [Overview](./architecture/overview.md)
- [Backend](./architecture/backend_overview.md)

# Other
- [Gallery](./gallery.md)

# API Reference

{{apibook_toc}}